{% extends 'fron.html.twig' %}
{% block body %}
    <table border="2">
        <tr>

            <th>TITRE</th>
            <th>detail</th>

            <th>like</th>
            <th>dislike</th>


        </tr>
        {% for i in for %}
            <tr>

                <td>{{ i.titre }}</td>

                <td><a href="{{ path('formation.pdf', {id: i.id}) }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-black-50"></i>Downoald</td>
                <td><a href="{{ path('likepost',{'id':i.id}) }}" class="btn btn-round btn-default"><i class="fa fa-thumbs-up" aria-hidden="true"></i> </td>
                <td><a href="{{ path('dislikepost',{'id':i.id}) }}" class="btn btn-round btn-default"><i class="fa fa-thumbs-down" aria-hidden="true"></i> </td>

            </tr>
        {% endfor %}

    </table>

{% endblock %}
